@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Nunito";
}

body {
  height: 100vh;
  background-color: #cccccc;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #333333;
  color: #eeeeee;
  font-size: 24px;
  text-transform: uppercase;
}
.nav-bar h1 {
  font-weight: 800;
}
/* !======================= form ================= */

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 20px;
}

.form-container {
  background-color: rgb(238, 238, 238);
  width: 45%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 94%;
}

.form-container input,
.form-container textarea {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  width: 100%;
}

.form-container button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  color: hsl(0%, 0%, 35%);
  background-color: rgb(51, 51, 51);
  width: 100%;
  margin-top: 10px;
}
.form-container button:hover {
  background-color: rgb(34, 34, 34);
}

/* !_----------------- */
input[type="file"] {
  position: absolute;
  left: -9999px;
}

/* Style the label and button */
.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  width: 100%;
}

.custom-file-upload:hover {
  background-color: #f0f0f0;
}
/* !_----------------- */
#Address {
  margin-top: -10px;
}

/* !======================= form end ================= */

/* !============== View ==================== */
.view-container {
  background-color: whitesmoke;
  width: 800px;
  height: 1000px;

  border: 1px solid black;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 250px;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.name-view {
  background-color: #005189;
  color: hsla(0, 0%, 100%, 0.842);
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.name-view h2 {
  font-size: 40px;
}
.main-view {
  padding: 15px;
}
.main-view h3 {
  color: #005189;
  margin-bottom: 10px;
}
.main-view p {
  margin-bottom: 10px;
}

.experience-view,
.education-view {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 20px;
}

.side-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-self: center;

  overflow: hidden;
  width: 85%;
}
.profile-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.personal-details {
  width: 220px;
}
.personal-details h3 {
  margin-top: 10px;
  color: #226088;
}
.personal-details p {
  color: #555;
  margin-top: 10px;
}
/* !============== View end ==================== */

/* random */
hr {
  border: 0;
  height: 1px;
  background-color: #333;
  margin-bottom: 10px;
}
.b {
  font-weight: bold;
}
.mt-1 {
  margin-top: 20px;
}
#blue-btn {
  background-color: #226088;
}
#blue-btn:hover {
  background-color: #005189;
}
#red-btn {
  background-color: rgb(153, 43, 43);
}
#red-btn:hover {
  background-color: rgb(155, 0, 0);
}

.border {
  border-top: 2px solid #333333;
  margin-bottom: 20px;
}

.border > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    width: 90%;
    margin: auto;
  }
  .view-container {
    width: 90%;
    margin: auto;
    height: 100%;
  }
}

@media (max-width: 455px) {
  .view-container {
    display: flex;
    flex-direction: column;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .name-view {
    background-color: #005189;
  }
}
